<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Laminas\ServiceManager\ServiceLocatorInterface" type="Laminas\ServiceManager\ServiceManager" />
    <preference for="Magento\Framework\Setup\LoggerInterface" type="Magento\Framework\Setup\ConsoleLogger" />
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="changeRole" xsi:type="object">Custom\Command\Console\Command\SetUserRole</item>
                <item name="AdminRole" xsi:type="object">Custom\Command\Console\Command\NewUserRole</item>
            </argument>
        </arguments>
    </type>
</config>